<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--sa登录模式-->
    <add name="connstrforsa" connectionString="user id=sa;password=95938;initial catalog=selonsy;datasource=localhost;connect Timeout=20"/>
    <!--集成登录模式-->
    <add name="connstrforwindows" connectionString="Integrated Security=SSPI;initial catalog=selonsy;datasource=localhost;connect Timeout=20"/>
  </connectionStrings>
  <appSettings>
    <add key="LogPath" value="D:\\公用文件\\MyLog\\" />
    <add key="key" value="value" />
  </appSettings>
</configuration>
